.kanban-column {
    width: 23%; 
    display: inline-block;
    margin-top:0;
    vertical-align: top;
    border-right: 1px solid green;
    border-left: 1px solid green;
    height: 100vh;
    margin-left: -1px;
}

.new-card-btn{
    padding: 5px 15 px;
    color: black;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    float: right;
    border:0; 
  position:absolute;
  top: 0; 
  bottom: 0; 
  right: 0;
  margin: auto;

}
.kanban-column-name {
    margin-left: -1px;
    margin-right: -1px;
    padding: 10px;
    border: 1px solid teal;
    position:relative;
}

.kanban-column-area {
    height: 100vh;
}
